torch==1.13.1+cu116 
torchvision==0.14.1+cu116 
torchaudio==0.13.1 
--extra-index-url https://download.pytorch.org/whl/cu116
numpy==1.26.4
scikit-learn==1.6.0
pandas==2.2.3
matplotlib==3.10.0
seaborn==0.13.2
fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20
faiss-cpu==1.9.0.post1
requests==2.32.3
sentence_transformers==3.3.1
tokenizers==0.20.3 
transformers==4.45.2
ftfy==6.3.1
regex==2024.11.6
tqdm==4.67.1
pydantic_settings==2.9.1